body, html, header, #intro {
  height: 100%;
}

#intro {
  background-image: url('../images/header.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: rgba(35, 35, 50, 0.8) 0px 0px 11px -2px;
  -moz-box-shadow: rgba(35, 35, 50, 0.8) 0px 0px 11px -2px;
  box-shadow: rgba(35, 35, 50, 0.8) 0px 0px 11px -2px;
}

.top-nav-collapse {
  background-color: #24355C;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Lato', sans-serif;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

@media (max-width: 767px) {
  h1 {
    line-height: 1.2em;
    font-size: 50px;
  }

  h2 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  h1 {
    line-height: 1.2em;
    font-size: 40px;
  }

  h2 {
    font-size: 2.3rem;
  }

  h6 {
    font-size: 1rem;
  }
}
